{% extends 'main_base.html' %}

{% block title %}
    新增期刊 - 期刊管理系统
{% endblock title %}

{% block panel_head %}
    注意事项
{% endblock panel_head %}

{% block panel_body %}
{% for tag, msg in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{ tag }}" role="alert">
    {{ msg }}
</div>
{% endfor %}
{% endblock panel_body %}

{% block custom_content %}
<form action="" method="post" class="form" role="form">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            {{ wtf.form_field(form.cn_name) }}
            {{ wtf.form_field(form.en_name) }}
        </div>
        <div class="col-md-2">
            {{ wtf.form_field(form.public_year) }}
            {{ wtf.form_field(form.public_cycle) }}
        </div>
        <div class="col-md-2">
            {{ wtf.form_field(form.tel) }}
            {{ wtf.form_field(form.fax) }}
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            {{ wtf.form_field(form.issn) }}
            {{ wtf.form_field(form.cn) }}
        </div>
        <div class="col-md-4">
            {{ wtf.form_field(form.zipcode) }}
        </div>
        <div class="col-md-2"></div>
    </div>
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ wtf.form_field(form.organizers) }}
            {{ wtf.form_field(form.editors) }}
            {{ wtf.form_field(form.emails) }}
            {{ wtf.form_field(form.address) }}
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            {{ wtf.form_field(form.insert_submit) }}
        </div>
        <div class="col-md-5"></div>
    </div>
</form>
{% endblock custom_content %}
