<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>报表</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">
    </head>
    <body>
        <!-- 报表标题 -->
        <div>
            <h1 style="text-align:center">期刊报表</h1>
        </div>
        <!-- 报表表格 -->
        <div class="wrapper">
            <div class="table">
                
                <div class="row header blue">
                    <div class="cell">
                        ISSN
                    </div>
                    <div class="cell">
                        中文刊名
                    </div>
                    <div class="cell">
                        主编
                    </div>
                    <div class="cell">
                        主办单位
                    </div>
                </div>
                
                {% for journal in journals %}
                <div class="row">
                    <div class="cell">
                        {{ journal.issn }}
                    </div>
                    <div class="cell">
                        {{ journal.cn_name }}
                    </div>
                    <div class="cell">
                        {% for editor in journal.editors %}
                        {{ editor.name }} 
                        {% endfor %}
                    </div>
                    <div class="cell">
                        {% for organ in journal.organizers %}
                        {{ organ.name }} 
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    </body>
</html>
