{% extends 'main_base.html' %}

{% block panel_head %}
消息
{% endblock %}

{% block panel_body %}
{% for tag, msg in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{ tag }}" role="alert">
    {{ msg }}
</div>
{% endfor %}
<div class="jumbotron">
    <p>
        欢迎回来！{{ username }}。
    </p>
</div>
{% endblock panel_body %}

{% block table_head %}
<tr>
    <th class="col-md-1">编号</th>
    <th class="col-md-3">期刊名</th>
    <th class="col-md-3">英文名</th>
    <th class="col-md-3">主编</th>
    <th class="col-md-2">主办单位</th>
</tr>
{% endblock %}

{% block table_body %}
{% for journal in journals %}
    <tr>
        <td>{{ loop.index }}</td>
        <td><a href="{{ url_for('main.detail', issn=journal.issn) }}">{{ journal.cn_name }}</a></td>
        <td>{{ journal.en_name }}</td>
        <td>
        {% for editor in journal.editors %}
        {{ editor.name }} 
        {% endfor %}
        </td>
        <td>
        {% for organ in journal.organizers %}
        {{ organ.name }} 
        {% endfor %}
        </td>
    </tr>
{% endfor %}
{% endblock  %}